.main {
    display: flex;
    gap: 1%;
}

.profile-list li{
    padding: 5px;
    list-style-type: none;
}

.profile-list li label{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
}

.profile-list li input {
    flex-grow: 1;
    background: white;
    padding: 5px;
}

.profile-list li img{
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;    
}
.btn-box{
   display: flex;

}

.edit-btn{
    display:block;
    padding: 5px;
    justify-content: space-between;
    gap: 20px;
}

.save-btn{
    display:block;
    padding: 5px;
    justify-content: space-between;
    gap: 20px;
}

.lists{
    display: block;
}

.fav-books{
    display: block;
    padding: 5px;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    margin: 15px;
}

.owned-books{
    display: block;
    padding: 5px;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    margin: 15px;
  
}
