/* Beispiel für die Einbindung zusätzlicher Schriftarten via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

@import url(feed.css);
@import url(request.css);
@import url(settings.css);
@import url(header.css);
@import url(sidebar.css);
@import url(book_modal.css);
@import url(profile.css);


/* Beispiel für die einfache Einbindung eines Farbschema, generiert auf coolors.co */
:root {
    --turquoise-green: #b9e3c6ff;
    --ocean-green: #59c9a5ff;
    --ruby: #d81e5bff;
    --prussian-blue: #23395bff;
    --canary: #fffd98ff;
    --snow: #f7f2f4ff;
    --jet: #343434ff;
}

.attachment-full {
    position: fixed;
    top: 0;
    left: 0;
}

.hidden {
    display: none !important;
}

body {
    background-color: var(--snow);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
}

.ui {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
}

.ui h1 {
    text-align: center;
    color: var(--jet);
}


/*Project starts here*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
 }
 
 h2 {
    width: 100%;
    background-color: rgb(56, 56, 250);
    margin-bottom: 1em;
    padding: 10px;
    color: #fff;
 }
 
 :root {
     --sidebar-width: 0;
     --header-height: 50px;
 }

 body.sidebar-open {
    --sidebar-width: 200px;
 }
 
 body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 /*Main content*/
 .main{
    display: flex;
    flex-direction: column;
    margin-left: var(--sidebar-width);
    padding: 25px;
 }
 
 
.book{
    display: flex;
    flex-direction: row;
    width: 80vw;
    padding: 1vw;
    margin-bottom: 1vw;
    background-color: var(--background);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: var(--foreground);
}

.container {
    padding: 10px;
    width: 100%;
    background-color: rgb(234, 234, 255);
    border: 1px solid black;
}
.center-container {
    max-width: 450px;
    margin: 50px auto;
}
.container h2 {
    width: calc(100% + 20px);
    margin: -10px 0 10px -10px;
}

input, textarea {
    padding: 6px 9px;
    outline: none;
    border: 1px solid #cdcdcd;
    width: 100%;
    resize: none;
}

input:focus, textarea:focus {
    border: 1px solid #a8a8a8;
}

.input-group .desc {
    font-size: 13px;
    color: #525151;
}